h1 > span {
    position: relative;
    display: inline-block;
    vertical-align: bottom;
    overflow: hidden;
}

h1 span {
    display: block;
    animation: animateWords 5s infinite ease;
}

@keyframes animateWords{
    0% {
        transform: translateY(0%);
    }
    25% {
        transform: translateY(-100%);
    }
    50% {
        transform: translateY(-200%);
    }
    75% {
        transform: translateY(-300%);
    }
    100% {
        transform: translateY(-400%);
    }
}